<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/nav-bar.css}">
    <title>타임리프 예제</title>
    <style>
        .container {
            max-width: 960px;
        }

        .jumbotron {
            padding: 2rem 1rem;
        }

        .post-content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:insert="~{nav-bar :: nav-bar}"></div>
<div>
    <span th:text="${post.id}"></span><span>번 게시글</span>
</div>
<!-- 메인 컨텐츠 -->
<main class="container">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${post.title}"></h1>
        <p class="lead" th:text="${post.country}"></p>
        <p class="lead" th:text="${#temporals.format(post.createdDateTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <!-- 게시물 내용 -->
            <div class="post-content">
                <p th:text="${post.content}"></p>
             </div>
        </div>
    </div>

    <button>
        <a th:href="@{/travel/post-edit-form/{postId}(postId=${post.id})}">수정하기</a>
    </button>
    <form th:action="@{/travel/post/{postId}(postId=${post.id})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">삭제하기</button>
    </form>


    <form th:action="@{/comment}" th:object="${commentDto}" method="post">
        <input type="hidden" name="postId" th:value="${post.id}" />
        <textarea name="content"></textarea>
        <button type="submit">댓글 작성</button>
    </form>
</main>

<div th:each="comment : ${content}">
    <p th:text="${comment.content}"></p>
    <br>
</div>
<div th:if="${totalPages > 0}">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:class="${currentPage == 0} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{${currentPage > 0} ? '/travel/detail-post/' + ${post.id} + '?page=' + ${currentPage - 1} : '/travel/detail-post/' + ${post.id} + '?page=' + ${currentPage}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:each="pageNumber : ${#numbers.sequence(preBtn, nextBtn)}" th:class="${currentPage == pageNumber} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:href="@{'/travel/detail-post/' + ${post.id} + '?page=' + ${pageNumber}}" th:text="${pageNumber + 1}"></a>
            </li>

            <li th:class="${currentPage == totalPages - 1} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{${currentPage < totalPages - 1} ? '/travel/detail-post/' + ${post.id} + '?page=' + ${currentPage + 1} : '/travel/detail-post/' + ${post.id} + '?page=' + ${currentPage}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>